a:hover {
    cursor: pointer;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.my-padding-user{
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.text-color-green{
    color: green;
}

.text-color-red{
    color: red;
}

@media(max-width:404px){
    .navbar-left-right{
        width: 100%;
    }
}