a:hover {
    cursor: pointer;
}

.navbar-brand{
    background-color: #d9534f!important; 
    border-color: #d43f3a!important; 
}

.navbar-brand:hover{
    background-color: #c9302c!important; 
    border-color: #ac2925!important;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.my-padding-user{
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.text-color-green{
    color: green;
}

.text-color-red{
    color: red;
}

.my-dropdown-right{
    left: -7em!important;
}

.my-dropdown-notifications-right{
    left: -15em!important;
}

.my-table tr {
    height: 68px!important;
}

.visits-table tr {
/*    height: auto!important;*/
    height: 45px!important;
}

.blank {
    padding: 0em !important;
}

.copy {
    margin-left: -1em;
    margin-right: -1em;
}

.content-top-1 > h2{
    margin-bottom: 0.5em;
}

.content-top{
    padding: 0em!important;
}

.visits-calendar{
    padding: 0 0 1em 0;
}

.visits-dashboard{
    padding: 0 0 1em 1em;
}

.less-padding{
    padding: 0em;
}

/* SCROLL TOP FEATURE */
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 99999999;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
/* ENS SCROLL TOP FEATURE */

/* Plugin feature */
.my-plugin{
    border: 1px solid #ebeff6;
    border-radius: 10px;
    padding: 0px 0px 0px 0px!important;
    /*margin-top: 30px;*/
    
    font-weight: 100!important;
    font-size: 0.9em!important;
}

.my-plugin-header{
    background-color: #1ABC9C !important;
    
    width: 100%;
    padding: 10px 10px 10px 10px;
    
    color: #fff;
}

.my-plugin-body{
    padding: 5px 5px 5px 5px;
    
    font-weight: 100!important;
    font-size: 0.9em!important;
}
/* END Plugin feature */

/*MD devices*/
@media (max-width: 992px){
    .visits-dashboard{
        padding: 0 0 1em 0;
    }
}

@media (max-width: 600px){
    .my-dropdown-right{
        left: -6em!important;
    }
}

/*Mobile devices vertical*/
@media(max-width:500px){
    .modal-dialog {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    
    .modal-content {
        height: 100%;
        min-height: 100%;
        height: auto;
        border-radius: 0;
    }
}

@media(max-width:404px){
    .navbar-left-right{
        width: 100%;
    }
    
    .my-dropdown-right{
        left: -7em!important;
    }
    
    .modal-dialog {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    
    .modal-content {
        height: 100%;
        min-height: 100%;
        height: auto;
        border-radius: 0;
    }
}