.visits-table{
    padding-top: 15px;
    max-height: 497px;
    overflow-x: auto;
}

.visits-table-header{
    height: 50px;
    display: inline-block;
    float: none;
}

.visits-table-row{
    width: 100%; 
    padding-right: 0px!important; 
    padding-left: 0px!important;
}

.visits-table-column{
    padding-right: 0px!important; 
    padding-left: 0px!important; 
}

.visit-number-today{
    background-color: #d95459;
    color: white;
    border-radius: 17px;
    width: 22.85px;
    height: 22.85px;
}

.visits-table-scrollable{
    overflow-x: scroll!important;
    overflow-y: hidden;
    white-space: nowrap;
}

.visits-table-scrollable-header{
    overflow-x: scroll!important;
    overflow-y: hidden;
    white-space: nowrap;
    height: 50px;
}

.visits-table-scrollable > .visits-table-column{
    display: inline-block;
    float: none; /* Very important */
}
