.visits-table{
    padding-top: 15px;
}

.visits-table-header{
    height: 50px;
    display: inline-block;
    float: none;
    padding-right: 0px!important; 
    padding-left: 0px!important; 
    overflow: hidden;
}

.visits-table-header-empty{
    height: 50px;
    padding-right: 0px!important; 
    padding-left: 0px!important;
}

.visits-table-body{
    margin-top: 50px;
}
.visits-table-row{
    width: 100%; 
    padding-right: 0px!important; 
    padding-left: 0px!important;
}

.visits-table-column-hours{
    padding-right: 0px!important; 
    padding-left: 0px!important; 
}

.visits-table-column{
    display: inline-block;
    float: none;
    padding-right: 0px!important; 
    padding-left: 0px!important; 
    overflow: hidden;
}

.visit-number-today{
    background-color: #d95459;
    color: white;
    border-radius: 17px;
    width: 22.85px;
    height: 22.85px;
}

.visits-table-scrollable-vertical{
    overflow-y: auto!important;
    overflow-x: hidden;
    max-height: 497px;
}
    
.visits-table-scrollable-horitzontal{
    overflow-x: scroll!important;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 100%;
    float:none;
}

.visits-table-scrollable-header{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.visits-table-scrollable-hours{
    overflow-y: auto!important;
    overflow-x: hidden;
    max-height: 497px;
    width: 113%;
}

.hide-h-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 50px;
}

.hide-v-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
}

.visits-table-scrollable > .visits-table-column{
    display: inline-block;
    float: none; /* Very important */
}
